body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.question_choices_block{
  margin-top: 5px;
  margin-left: 20px;
}

.App{
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px;
}

.set{
  margin-bottom: 20px;
  margin-top: 10px;
}

.Login{
  border: solid 5px;
  margin-bottom: 20%;
  margin-top: 8%;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
  padding: 10px;
}

#login-button {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: aquamarine;
}

#login-button:hover{
  background-color: rgb(4, 121, 82);
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
}

.question{
  margin-left: 40px;
}

.submit-button{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: aquamarine;
  align-items: center;
}

.submit-button:hover{
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(4, 88, 88);
}

.caution{
  border: solid 1px;
  margin-top: 20px;
  color: red;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.reminder{
  border: solid 1px;
  margin-top: 20px;
  color: navy;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.logger{
  text-decoration: underline;
  }

.welcome{
  text-align: center;
}

.submission{
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
}

.consequence{
  text-align: center;
  font-weight: bold;
  color: red;
  margin-top: 12rem;
}

.submit-button-holder{
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}